/* Estilos generales para el cuerpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para el contenedor del logo */
.logo-container {
  position: absolute;
  top: 20px; /* Ajusta la distancia desde el borde superior */
  left: 20px; /* Ajusta la distancia desde el borde izquierdo */
  width: 80px; /* Ancho del logo */
  height: 80px; /* Alto del logo */
  background-image: url('/src/assets/logo.png'); /* Ruta de la imagen del logo */
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del logo */
  background-position: center;
}

/* Otros estilos opcionales que puedas necesitar */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6; /* Fondo para el contenido principal */
}
